/*HOME SECTION*/
.wrap {
	overflow: hidden;
}

.container {
	width: 75%;
	margin: auto;
	font-family: OpenSans Regular;
	font-size: 14px;
	position: relative;
}

button {
	font-family: Raleway Regular;
}

.home {
	background: url('img/background-image-copy.png');
	height: 700px;
}

.menu {
	margin: -60px auto 80px;
	
}

.clearfix:after {
	content: '';
	display: table;
	clear: both;
}

.logo {
	font-family: Bringin;
	color: #56c7ff;
	padding: 0 50px 0 0;
    font-size: 40px;
}

span {
	color: #95a5ad;
}

.menu-item {
	display: inline-block;
	font-family: OpenSans Bold;
	font-size: 14px;
	padding: 10px 15px;
	text-transform: uppercase;
	color: #6C7A89;
}

.menu-item:hover {
	border-bottom: 2px solid #36aeea;
	color: #9daeb6;
}

.menu-item:visited {
	color: #9daeb6;
}

.menu-item:active {
	color: #9daeb6;
}

h4 {
	float: left;
}

.call {
	position: absolute;
	right: 230px;
	top: 20px;
	width: 153px;
	height: 46px;
	border: 3px solid #36aeea;
	border-radius: 4px;
	background-color: transparent;
	color: #36aeea;
	text-transform: uppercase;
}

.call:active {
	border: 3px solid white;
}

.menu-button {
	color: #36aeea;
	text-transform: uppercase;
}

.menu-button:active {
	color: white;
}


.main-content {
	width: 100%;
    border: 3px solid white;
}

.main-title {
	width: 50%;
	text-align: left;
	margin: 30px;
    padding: 30px;
}

.title {
	font-size: 60px;
    color: white;
    text-transform: uppercase;
    font-family: OpenSans Bold;
}

.logo-home {
	font-size: 70px;
    margin: -25px 0 0;
    padding: 5px;
	
}

.logo-text {
	font-size: 20px;
    color: white;
    opacity: 0.8;
    margin: 10px 0;
}

.order {
width: 253px;
height: 60px;
background-color: #36aeea;
border-radius: 4px;
margin: 30px 0;

}

.order-button {
	width: 103px;
	height: 10px;
	color: white;
	font-family: Raleway Regular;
	font-size: 14px;
	font-weight: 700;
	line-height: 44px;
	text-transform: uppercase;
}


/* Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat.  in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.*/

/*ABOUT SECTION*/

.about {
	background-color: #f6f4f4;
	background: url('pics/vector-smart-object.png') no-repeat center;
	height: 600px;
}

.about_item {
	display: inline-block;
	width: 30%;
}

.about_title {
	font-size: 18px;
	color: #2c2e37;
	text-align: left;
	font-weight: bold;
	text-transform: uppercase;
}

.about_text {
	text-align: left;
	
}

.read-more {
	width: 130px;
	height: 40px;
	background-color: #36aeea;
	border-radius: 4px;
}

.img2 {

	width: 50%;
	opacity: 1;
	z-index: 3;
	position: absolute;
	top: -40px;
	right: -240px;

	
}
.img1 {	
	width: 25%;
	opacity: 1;
	position: absolute;
	right: 300px;
	top: 150px;
}


/*JOURNAL SECTION*/

.journal {
	height: 700px;
}

.journal_title {
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.journal_list {
	height: 500px;
	width: 60%;
	margin: 100px auto;
}

.journal_item {
	display: inline-block;
	width: 33%;
	height: 33%;
	text-align: center;
}

.item_1 {
	background: url('img/layer-50.png');
}

.item_2 {
	background: url('img/layer-49.png');
}

.item_3 {
	background: url('img/9127271170-42c133847e-z.png');
}